.infor-wraper {
    p {
        color: #fe7f56;

        background-color: #ffe7e0;
        display: flex;
        text-align: center;
        align-items: center;
        min-width: 50px;
        height: 10px;
        border-radius: 10px;
        padding: 10px 10px;
    }

    // cursor: pointer;
}