.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-clr);
    display: flex;
    height: 100px;
    justify-content: space-between;
    
    .header-logo{
        padding-left: 120px;
    }
    .header-auth{
        padding-right: 120px;
    }
}